.main {
    display: flex;
    justify-items: center;
    row-gap: 10px;
    margin: 5rem 0;  
.div{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    &:hover{
        .secondImg{
            z-index: 2;
        }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        border-radius: 5px;
    }

    .mainImg{
        z-index: 1;
    }
}
}